@model MediaGraph.ViewModels.Edit.RelationshipCollectionViewModel
@{
    ViewBag.Title = "Edit Relationships";
}
@section scripts {
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/myScripts/relationshipForm.js"></script>
}
@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/form.css" />
}

<h2>Edit Relationships</h2>
<article>
    @if(!ViewContext.ViewData.ModelState.IsValid)
    {
        <section class="form-group row fancy-section">
            @Html.ValidationSummary()
        </section>
    }
    <section class="from-group row fancy-section">
        <h4>Node Information</h4>
            <p>This is the information for the node for which you are editing relationships.</p>
        <div class="col-md-4">
            <div class="form-group">
                <h4>@Html.DisplayNameFor(x => x.SourceType)</h4>
                <p class="node-value">@Html.ValueFor(x => x.SourceType)</>
                @Html.HiddenFor(x => x.SourceType)
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <h4>@Html.DisplayNameFor(x => x.SourceName)</h4>
                <p class="node-value">@Html.ValueFor(x => x.SourceName)</p>
            </div>
        </div>
        <div class="col-md-4">
            <h4>Options</h4>
            @Html.HiddenFor(x => x.SourceId)    
            @Html.ActionLink("Edit the node instead", "Index", "NodeEdit", new { id = Model.SourceId }, null)
        </div>
    </section>
    <section class="form-group row fancy-section">
        @for(int i = 0; i < 3; i++)
        {
            Html.RenderPartial("_RelationshipGroupPartialView", i);
        }
    </section>
    <button type="button" onclick="sumbitForm()" class="btn btn-primary">Submit</button>
</article>

