@model MediaGraph.ViewModels.Edit.MediaNodeViewModel

<input type="hidden" name="ContentType" value="media" />
<input type="hidden" name="Genres" />
<section>
    <h5 class="center-align">Media Information</h5>
    <div class="col s12 m6 l4">
        <div class="input-field">
            @Html.LabelFor(x => x.MediaType, new { @class="active" })
            @Html.DropDownListFor(x => x.MediaType, new List<SelectListItem>
            {
                new SelectListItem { Value = "", Text = "Media Type" },
                new SelectListItem { Value = "audio", Disabled = true, Text = "Audio" },
                new SelectListItem { Value = "book", Text = "Book" },
                new SelectListItem { Value = "video", Text = "Video, Movie, Show" },
                new SelectListItem { Value = "game", Text = "Video Game" }
            })
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <label for="releaseDate" class="active">First Release Date</label>
        </div>
        <input name="ReleaseDate" type="text" class="datepicker" value="@Model.GetDateValue(Model.ReleaseDate)" />
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            @Html.LabelFor(x => x.FranchiseName)
            @Html.TextBoxFor(x => x.FranchiseName)
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
            @Html.LabelFor(x => x.CommonName)
            @Html.TextBoxFor(x => x.CommonName)
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
            <label for="other-names">Other Names</label>
            <div id="other-names" class="chips"></div>
        </div>
    </div>
    <div class="col s12">
        <div class="input-field">
            <label for="genre-chips">Genres</label>
            <div id="genre-chips" class="chips"></div>
        </div>
    </div>
</section>
