@model MediaGraph.ViewModels.Edit.PersonNodeViewModel

<input type="hidden" name="ContentType" value="person" />
<section>
    <h5 class="center-align">Person Information</h5>
    <div class="col s12 m6">
        <div class="input-field">
            @Html.LabelFor(x => x.GivenName)
            @Html.TextBoxFor(x => x.GivenName)
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
            @Html.LabelFor(x => x.FamilyName)
            @Html.TextBoxFor(x => x.FamilyName)
        </div>
    </div>
    <div class="col s12">
        <div class="input-field">
            <label for="other-names">Other Names</label>
            <div id="other-names" class="chips"></div>
        </div>
    </div>
    <div class="col s12 m6">
        <label for="ReleaseDate" class="active">Date of Birth</label>
        <input type="text" name="ReleaseDate" class="datepicker" value="@Model.GetDateValue(Model.ReleaseDate)" />
    </div>
    <div class="col s12 m6">
        <label for="DeathDate" class="active">Date of Death</label>
        <input type="text" name="DeathDate" class="datepicker" value="@Model.GetDateValue(Model.DeathDate)" />
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            @Html.LabelFor(x => x.Status, new { @class = "active" })
            @Html.DropDownListFor(x => x.Status, new List<SelectListItem>
            {
                new SelectListItem { Value = "active", Text = "Active" },
                new SelectListItem { Value = "inactive", Text = "Inactive" },
                new SelectListItem { Value = "retired", Text = "Retired" },
                new SelectListItem { Value = "deceased", Text = "Deceased" }
            })
        </div>
    </div>
</section>
