@model MediaGraph.ViewModels.Edit.BasicNodeViewModel

<input type="hidden" name="Id" value="@Model.Id.ToString()" />
<input type="hidden" name="OtherNames" value="@Model.GetOtherNamesJson()" />
<input type="hidden" name="RelatedCompanies" value="@Model.GetRelatedCompaniesJson()" />
<input type="hidden" name="RelatedMedia" value="@Model.GetRelatedMediaJson()" />
<input type="hidden" name="RelatedPeople" value="@Model.RelatedPeople" />

<div class="col s12 m6 input-field">
    @Html.LabelFor(x => x.ContentType, new { @class = "active" })
    @Html.DropDownListFor(x => x.ContentType, new List<SelectListItem>
    {
        new SelectListItem { Value = "", Text = "Content Type" },
        new SelectListItem { Value = "Company", Text = "Company" },
        new SelectListItem { Value = "Media", Text = "Media" },
        new SelectListItem { Value = "Perosn", Text = "Person" }
    })
</div>
<div class="col s12 m6 input-field">
    @Html.LabelFor(x => x.CommonName)
    @Html.TextBoxFor(x => x.CommonName)
</div>
<div class="col s12 input-field">
    <label for="other-names">Other Names</label>
    <div class="chips" id="other-names"></div>
</div>
<div class="col s12 m6">
    <div class="input-field">
        <label for="releaseDate" class="active">Release Date</label> @* TODO: Release Date should be changed to correspond with the model *@
    </div>
    <input type="text" class="datepicker" value="@Model.GetDateValue(Model.ReleaseDate)" />
</div>
<div class="col s12 m6">
    <div class="input-field">
        <label for="deathDate" class="active">Death Date</label> @* TODO: Death date should be change to correspond to the model *@
    </div>
    <input type="text" class="datepicker" value="@Model.GetDateValue(Model.DeathDate)" />
</div>
