@model MediaGraph.ViewModels.Edit.CompanyNodeViewModel
<div class="col s12 input-field">
    @Html.TextBoxFor(x => x.CommonName, new { @class = "validate" })
    @Html.LabelFor(x => x.CommonName)
</div>
<div class="col s12 input-field">
    <label for="other-name-chips">Other Names</label>
    <div id="other-name-chips" class="chips"></div>
</div>
<div class="col s12 m6 input-field">
    @Html.TextBoxFor(x => x.ReleaseDate, new { @class = "validate", placeholder = "yyyy-mm-dd" })
    <label for="@Html.NameFor(x => x.ReleaseDate)" class="active">Date Founded</label>
</div>
<div class="col s12 m6 input-field">
    @Html.TextBoxFor(x => x.DeathDate, new { @class = "validate", placeholder = "yyyy-mm-dd" })
    <label for="@Html.NameFor(x => x.DeathDate)" class="active">Date Defunct</label>
</div>
