@using MediaGraph.ViewModels.Edit
@using MediaGraph.Models.Component
@model BasicNodeViewModel
@{
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
    string submissionRoute = "submit";
    switch(Model.ContentType)
    {
        case NodeContentType.Company:
            submissionRoute += "company";
            break;
        case NodeContentType.Media:
            submissionRoute += "media";
            break;
        case NodeContentType.Person:
            submissionRoute += "person";
            break;
    }
}
<div>
    <article id="basic-node-info" class="row">
        <div class="col s12 m6 offset-l2 l4">
            <div class="valign-wrapper">
                <h5>What are you adding?</h5>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="input-field">
                @Html.EnumDropDownListFor(x => x.ContentType, "Content Type", new { id = "node-content-type" })
            </div>
        </div>
    </article>
    <div id="hidden-divider" class="divider" style="display:none;"></div>
    <article class="row">
        @using (Html.BeginForm(submissionRoute, "Edit", FormMethod.Post, new { id = "nodeForm" }))
        {
            @Html.Partial("_BasicInformationPartial", Model)
            <section id="node-info" style="display:none;">
                @if (Model.ContentType != 0)
                {
                    if (Model.ContentType == NodeContentType.Company)
                    {
                        @Html.Partial("_CompanyInformationPartial", (CompanyNodeViewModel)Model)
                    }
                    else if (Model.ContentType == NodeContentType.Media)
                    {
                        @Html.Partial("_MediaInformationPartial", (MediaNodeViewModel)Model)
                    }
                    else if (Model.ContentType == NodeContentType.Person)
                    {
                       @Html.Partial("_PersonInformationPartial", (PersonNodeViewModel)Model)
                    }
                }
            </section>
        }
    </article>
    <div class="divider"></div>
    <article id="relationship-info" class="row">
        @Html.Partial("_RelationshipFormPartial")
    </article>
    <article id="submission-section" class="row">
        <section class="col s12">
            <div class="center">
                <button id="reset-button" type="button" class="waves-effect waves-light btn disabled">Reset Form</button>
                <button id="submit-button" type="submit" class="waves-effect waves-light btn disabled" onclick="validate()">Submit</button>
            </div>
        </section>
    </article>
</div>

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/forms/formStyle.css" />
}
@section scripts {
    <script src="~/Scripts/myScripts/edit/edit-form-script-query.js"></script>
}