@model MediaGraph.ViewModels.Edit.NodeDescriptionViewModel
@{
    ViewBag.Title = "Request Accepted";
}
@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/requestaccepted.css" />
}
<article>
    <h2>Request Accpeted</h2>
    <p class="big-text">Your request has been accepted. You can review the information below, edit the node relationships, or return to the main page.</p>
    @* TODO: Maybe this could be extracted to a partial view*@
    <section class="node-review">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="node-label">Content:</label>
                    <label class="node-value">@Model.ContentType</label>
                </div>
                <div class="form-group">
                    <label class="node-label">Franchise:</label>
                    <label class="node-value">@Model.Franchise</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="node-label">English Name:</label>
                    <label class="node-value">@Model.PrimaryName</label>
                </div>
                <div class="form-group">
                    <label class="node-label">Other Names:</label>
                    <label class="node-value">@Model.AlternateNamesString</label>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="node-label">Date: </label>
                    <label class="node-value">@(Model.Date.HasValue ? Model.Date.Value.ToShortDateString() : "No Date")</label>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="node-links">
            <ul class="node-links-list">
                <li>@Html.ActionLink("Edit Node", "Index", "NodeEdit", Model.NodeId, new { @class = "link-button" })</li>
                <li>@Html.ActionLink("Edit Relationships", "Index", "RelEdit", null, new { @class = "link-button" })</li>
                <li>@Html.ActionLink("Homepage", "Index", "Home", null, new { @class = "link-button" })</li>
            </ul>
        </div>
    </section>
</article>


