@using MediaGraph.Models.Component
@using MediaGraph.ViewModels.Edit
@model BasicNodeViewModel
@section css {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />
}
@section scripts {
    @Scripts.Render("~/bundles/validation")
    <script src="~/Scripts/myScripts/edit/visual-relationship-script.js"></script>
    <script src="~/Scripts/myScripts/edit/visual-edit-form.js"></script>
}

<article class="row">
    <section class="col s12 m6">
        <div id="visualization-target" class="visualization full    network-display"></div>
    </section>
    <section class="col s12 m6">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#node-tab">Node</a></li>
            <li class="tab"><a href="#rel-tab">Relationships</a></li>
        </ul>
        <div class="row">
            <div id="node-tab">
                @using (Html.BeginForm("Visualize", "Edit", FormMethod.Post, htmlAttributes: new { id = "node-form", autocomplete = "off" }))
                {
                    <input type="hidden" name="Id" value="@Model.Id.ToString()" />
                    <input type="hidden" name="Relationships" value="@Model.GetRelationshipsJson()"/>
                    <input type="hidden" name="OtherNames" value="@Model.GetOtherNamesJson()"/>
                    if (Model.ContentType == 0)
                    {
                        <div class="col s12 offset-m3 m6 center">
                            Node Content Type:
                            <div class="input-field inline">
                                <select id="ContentType" name="ContentType">
                                    <option value="0" disabled selected>Content Type</option>
                                    <option value="1">Company</option>
                                    <option value="2">Media</option>
                                    <option value="3">Person</option>
                                </select>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.ContentType)
                    }
                    <div id="node-information">
                        @if(Model.ContentType == NodeContentType.Company)
                        {
                            @Html.Partial("_VisualCompanyInformationPartial", (CompanyNodeViewModel)Model)
                        }
                        else if(Model.ContentType == NodeContentType.Media)
                        {
                            @Html.Partial("_VisualMediaInformationPartial", (MediaNodeViewModel)Model)
                        }
                        else if(Model.ContentType == NodeContentType.Person)
                        {
                            @Html.Partial("_VisualPersonInformationPartial", (PersonNodeViewModel)Model)
                        }
                    </div>
                }
            </div>
            <div id="rel-tab">
                @Html.Partial("_VisualRelationshipFormPartial")
            </div>
        </div>
    </section>
</article>
<article class="row">
    <section class="col s12 offset-m6 m6">
        <div class="center">
            <button id="submit-button" type="button" class="waves-effect waves-light btn accent-1">Submit <i class="material-icons right">send</i></button>
        </div>
    </section>
</article>