@using MediaGraph.ViewModels.AdminTools
@model UserPage
@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/AdminTools/_RequestsLayout.cshtml";
}
@section filter {
    @Html.Partial("_UserManagementFilterPartial", new MediaGraph.ViewModels.AdminTools.UserManagementFilter())
}
@section requestList {
    <div class="valign-wrapper">
        <h5 class="center-align">Users</h5>
        <button id="hide-button" type="button" class="waves-effect waves-light btn-flat" style="display:none;">Hide filter</button>
    </div>
    <ul id="user-list" class="collection list">
        @foreach(UserViewModel user in Model.Users)
        {
            <li class="collection-item valign-wrapper">
                <div class="col s5">@user.Username</div>
                <div class="col s3 input-field">
                    @Html.DropDownList("user-role-" + user.Id, new List<SelectListItem>
                    {
                        new SelectListItem { Value = "0", Text = "Member", Selected = user.Role == "0" },
                        new SelectListItem { Value = "1", Text = "Admin", Selected = user.Role == "1" },
                        new SelectListItem { Value = "2", Text = "Staff", Selected = user.Role == "2" }
                    })
                </div>
                <div class="col s2"><button type="button" data-user="@user.Id" class="waves-effect waves-blue btn-flat update-button"><i class="material-icons">edit</i></button></div>
                <div class="col s2"><button type="button" data-user="@user.Id" class="waves-effect waves-red btn-flat modal-trigger" data-target="confirm-delete-modal"><i class="material-icons">delete</i></button></div>
            </li>
        }
    </ul>
}
<div id="confirm-delete-modal" class="modal">
    <div class="modal-content">
        <h4 class="left-align">Confirm User Deletion</h4>
        <p class="flow-text">Are you sure you want to delete this user.</p>
    </div>
    <div class="modal-footer">
        <a id="confirm-delete-button" class="modal-action modal-close waves-effect waves-red btn-flat">Delete</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/myScripts/admin-tools/request-base.js"></script>
    <script src="~/Scripts/myScripts/admin-tools/user-manager.js"></script>
}