@using MediaGraph.Models.Component;
@using MediaGraph.ViewModels.Edit;
@model  MediaGraph.ViewModels.AdminTools.DatabaseRequestViewModel
@{
    ViewBag.Title = "Review Request";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
    string value = Model.RequestId.ToString();
}

<article class="row">
    <div class="valign-wrapper">
        <section class="col s12 m6">
            <h4 class="left">[@Model.GetRequestTypeString()] @Model.NodeData.CommonName</h4>
        </section>
        <section class="col s12 m6">
            <div class="right-align">
                <button id="edit-info-button" type="button" class="waves-effect waves-light btn-flat">Edit</button>
                @Html.ActionLink("Back", "DatabaseRequests", "AdminTools", null, new { @class = "waves-effect waves-light btn-flat" })
            </div>
        </section>
    </div>
    <div class="divider"></div>
</article>
<form action="/admintools/viewrequest" method="post" id="nodeForm">
    <article class="row">
        <section class="col s12">
            <input type="hidden" name="RequestId" value="@Model.RequestId" />
            <input type="hidden" name="RequestType" value="@Html.ValueFor(x => x.RequestType)" />
            <input type="hidden" name="NodeDataType" value="@Html.ValueFor(x => x.NodeDataType)" />
            <input type="hidden" name="Approved" />

            <input type="hidden" name="Id" value="@Model.NodeData.Id" />
            <input type="hidden" name="RelatedCompanies" value="@Model.NodeData.GetRelatedCompaniesJson()" />
            <input type="hidden" name="RelatedMedia" value="@Model.NodeData.GetRelatedMediaJson()" />
            <input type="hidden" name="RelatedPeople" value="@Model.NodeData.GetRelatedPeopleJson()" />
            <input type="hidden" name="OtherNames" value="@Model.NodeData.GetOtherNamesJson()" />
            @{
                if (Model.NodeDataType == NodeContentType.Company)
                {
                    @Html.Partial("_CompanyInformationPartial", (CompanyNodeViewModel)Model.NodeData)
                }
                else if (Model.NodeDataType == NodeContentType.Media)
                {
                    @Html.Partial("_MediaInformationPartial", (MediaNodeViewModel)Model.NodeData)
                }
                else if (Model.NodeDataType == NodeContentType.Person)
                {
                    @Html.Partial("_PersonInformationPartial", (PersonNodeViewModel)Model.NodeData)
                }
            }
        </section>
    </article>
    <article class="row">
        <section class="col s12">
            @Html.Partial("_RelationshipFormPartial")
        </section>
    </article>
    <article class="row">
        <div class="valign-wrapper">
            <section class="col s12 m6">
                <h5 class="center-align">Submission Details</h5>
                <p>Submitted by: @Model.SubmitterName</p>
                <p>Submission date: @Model.SubmissionDate.ToLongDateString() at @Model.SubmissionDate.ToLongTimeString()</p>
            </section>
            <section class="col s12 m6">
                <div class="input-field">
                    <textarea name="Notes" class="materialize-textarea"></textarea>
                    <label for="Notes">Notes</label>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button id="reject-button" type="button" class="waves-effect waves-light btn red accent-2">Reject</button>
                    </div>
                    <div class="col s6">
                        <button id="approve-button" type="button" class="right waves-effect waves-light btn green accent-2">Approve</button>
                    </div>
                </div>
            </section>
        </div>
    </article>
</form>

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/admin-tools/management-style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/forms/formStyle.css" />
}
@section scripts {
    <script src="~/Scripts/myScripts/edit/relationship-form-script.js"></script>
    <script src="~/Scripts/myScripts/admin-tools/review-page.js"></script>    
}