@using MediaGraph.Models.Component;
@using MediaGraph.ViewModels.Edit;
@model  MediaGraph.ViewModels.AdminTools.DatabaseRequestViewModel
@{
    ViewBag.Title = "Review Request";
}

<article class="row">
    <div class="valign-wrapper">
        <section class="col s12 m6">
            <h4 class="left">[@Model.GetRequestTypeString()] @Model.NodeData.CommonName</h4>
        </section>
        <section class="col s12 m6">
            <div class="right-align">
                @if (!Model.Reviewed)
                {
                    <button id="edit-info-button" type="button" class="waves-effect waves-light btn-flat">Edit</button>
                }
                @Html.ActionLink("Back", "DatabaseRequests", "AdminTools", null, new { @class = "waves-effect waves-light btn-flat" })
            </div>
        </section>
    </div>
    <div class="divider"></div>
    <section class="col s12 m6">
        <div id="visualization-target" class="network-display full visualization"></div>
    </section>
    <section class="col s12 m6">
        <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#node-tab">Node</a></li>
            <li class="tab"><a href="#rel-tab">Relationships</a></li>
        </ul>
        <div id="node-tab">
            @using (Html.BeginForm("ViewRequest", "AdminTools", FormMethod.Post, htmlAttributes: new { id = "node-form", autocomplete = "off", novalidate = "novalidate" }))
            {
                <input type="hidden" name="Notes" value="@Model.Notes" />
                <input type="hidden" name="RequestId" value="@Model.RequestId.ToString()" />
                <input type="hidden" name="RequestType" value="@Model.RequestType" />
                @Html.HiddenFor(x => x.NodeDataType)
                <input type="hidden" name="Approved" value="@Model.Approved" />
                @Html.Partial("_NodeFormPartial", (BasicNodeViewModel)Model.NodeData)
            }
        </div>
        <div id="rel-tab">
            @Html.Partial("_RelationshipFormPartial")
        </div>
    </section>
</article>
<article class="row">
    <section class="col s12 m6">

    </section>
    <section class="col s12 m6">
        <div class="input-field">
            <textarea id="notes-input" class="materialize-textarea"></textarea>
            <label for="notes-input">Notes</label>
        </div>
        <div class="left">
            <button id="reject-button" type="button" class="waves-effect waves-light btn red">Reject <i class="material-icons left">clear</i></button>
        </div>
        <div class="right">
            <button id="approve-button" type="button" class="waves-effect waves-light btn green right">Approve <i class="material-icons left">done</i></button>
        </div>
    </section>
</article>

@section css {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />
}
@section scripts {
    @Scripts.Render("~/bundles/validation")
    <script src="~/Scripts/myScripts/edit/visual-relationship-script.js"></script>
    <script src="~/Scripts/myScripts/edit/visual-edit-form.js"></script>
    <script src="~/Scripts/myScripts/admin-tools/review-script.js"></script>
}