@using MediaGraph.Models.Component;
@using MediaGraph.ViewModels.Edit;
@model  MediaGraph.ViewModels.AdminTools.DatabaseRequestViewModel
@{
    ViewBag.Title = "Review Request";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<article class="row">
    <div class="valign-wrapper">
        <section class="col s12 m6">
            <h4 class="left">[@Model.GetRequestTypeString()] @Model.NodeData.CommonName</h4>
        </section>
        <section class="col s12 m6">
            <div class="right-align">
                <button id="edit-info-button" type="button" class="waves-effect waves-light btn-flat">Edit</button>
                @Html.ActionLink("Back", "DatabaseRequests", "AdminTools", null, new { @class = "waves-effect waves-light btn-flat" })
            </div>
        </section>
    </div>
    <div class="divider"></div>
</article>
<article class="row">
    <section class="col s12">
        <form id="nodeForm" contenteditable="false">
            @Html.Partial("_BasicInformationPartial", Model.NodeData)
            @{
                if (Model.NodeDataType == NodeContentType.Company)
                {
                    @Html.Partial("_CompanyInformationPartial", (CompanyNodeViewModel)Model.NodeData)
                }
                else if (Model.NodeDataType == NodeContentType.Media)
                {
                    @Html.Partial("_MediaInformationPartial", (MediaNodeViewModel)Model.NodeData)
                }
                else if (Model.NodeDataType == NodeContentType.Person)
                {
                    @Html.Partial("_PersonInformationPartial", (PersonNodeViewModel)Model.NodeData)
                }
            }
        </form>
    </section>
</article>
<article class="row">
    <section class="col s12">
        @Html.Partial("_RelationshipFormPartial")
    </section>
</article>
<article class="row">
    <div class="valign-wrapper">
        <section class="col s12 m6">
            <h5 class="center-align">Submission Details</h5>
            <p>Submitted by: @Model.SubmitterName</p>
            <p>Submission date: @Model.SubmissionDate.ToLongTimeString()</p>
        </section>
        <section class="col s12 m6">
            <div class="input-field">
                <textarea id="Notes" class="materialize-textarea"></textarea>
                <label for="Notes">Notes</label>
            </div>
            <div class="row">
                <div class="col s6">
                    <button type="button" class="waves-effect waves-light btn red accent-2">Reject</button>
                </div>
                <div class="col s6">
                    <button type="button" class="right waves-effect waves-light btn green accent-2">Approve</button>
                </div>
            </div>
        </section>
    </div>
</article>

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/admin-tools/management-style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/forms/formStyle.css" />
}
@section scripts {
    <script src="~/Scripts/myScripts/admin-tools/review-page.js"></script>    
}