@model MediaGraph.ViewModels.Edit.MediaNodeViewModel

@Html.HiddenFor(x => x.ContentType)
<input type="hidden" name="Genres" value="@Model.GetGenresJson()" />
<section>
    <h5 class="center-align">Media Information</h5>
    <div class="col s12 m6 l4">
        <div class="input-field">
            @Html.LabelFor(x => x.MediaType, new { @class="active" })
            @Html.DropDownListFor(x => x.MediaType, new List<SelectListItem>
            {
                new SelectListItem { Value = "", Text = "Media Type" },
                new SelectListItem { Value = "1", Disabled = true, Text = "Audio" },
                new SelectListItem { Value = "2", Text = "Book" },
                new SelectListItem { Value = "4", Text = "Video, Movie, Show" },
                new SelectListItem { Value = "8", Text = "Video Game" }
            })
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <label for="releaseDate" class="active">First Release Date</label>
        </div>
        <input name="ReleaseDate" type="text" class="datepicker" value="@Model.GetDateValue(Model.ReleaseDate)" />
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            @Html.LabelFor(x => x.FranchiseName)
            @Html.TextBoxFor(x => x.FranchiseName)
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
            @Html.LabelFor(x => x.CommonName, new Dictionary<string, object> { { "data-error", "Invalid name" } } )
            @Html.TextBoxFor(x => x.CommonName, new { @class = "validate", pattern = ".+" })
        </div>
    </div>
    <div class="col s12 l6">
        <div class="input-field">
            <label for="other-names">Other Names</label>
            <div id="other-names" class="chips custom-chips"></div>
        </div>
    </div>
    <div class="col s12">
        <div class="input-field">
            <label for="genre-chips">Genres</label>
            <div id="genre-chips" class="chips custom-chips"></div>
        </div>
    </div>
</section>
