@using Microsoft.AspNet.Identity
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            @Html.ActionLink("Logo", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })
            <a href="#" data-activates="side-nav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li>@Html.ActionLink("New Contribution", "Index", "Edit")</li>
                <li>@Html.ActionLink("Graphic Display", "Index", "Graph")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
</div>
<ul class="side-nav" id="side-nav">
    @if(Request.IsAuthenticated)
    {
        <li class="hide-on-med-and-up">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutFormSide", @class = "hide-on-med-and-up" }))
        {
            @Html.AntiForgeryToken()
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        }
    }
    else
    {
        <li class="hide-on-med-and-up">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="hide-on-med-and-up">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    <li class="hide-on-med-and-up"><div class="divider"></div></li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Add", "Index", "Edit")</li>
</ul>
