<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            @Html.ActionLink("Logo", "Index", "Home", new { area = "" }, new { @class = "brand-logo center" })
            <ul class="left">
                <li>@Html.ActionLink("New Contribution", "Index", "Edit")</li>
            </ul>
            <ul class="right">
                <li>
                    <form action="/graph/index" method="get" autocomplete="off">
                        <input type="hidden" name="targetId" />
                        <div class="input-field">
                            <input type="search" id="search" name="searchText" />
                            <label class="label-icon"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </li>
                <li>
                    <a class="dropdown-button" data-activates="profileDropdown">Account <i class="material-icons right">arrow_drop_down</i></a>
                </li>
            </ul>
        </div>
    </nav>
    <ul id="profileDropdown" class="dropdown-content">
        <li></li>
        @if(Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <li>@Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
            }
        }
        else
        {
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
    </ul>
</div>
