@using MediaGraph.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<article id="loginForm" class="container">
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <section class="row">
            <div class="col s12">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </section>
        <section class="row">
            <div class="col s12 m8 input-field">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email)
            </div>
            <div class="col s12 m4">
                @Html.ValidationMessageFor(x => x.Email, "", new { @class = "red-text text-darken-1" })
            </div>
        </section>
        <section class="row">
            <div class="col s12 m8 input-field">
                @Html.LabelFor(x => x.Password)
                @Html.PasswordFor(x => x.Password)
            </div>
            <div class="col s12 m4">
                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "red-text text-darken-1" })
            </div>
        </section>
        <section class="row">
            <div class="col offset-s3 s12 offset-m3 m8">
                <input type="checkbox" id="RememberMe" name="RememberMe" class="filled-in" />
                <label for="RememberMe">Remember me?</label>
            </div>
        </section>
        <section class="row">
            <div class="col offset-s3 s12 offset-m3 m8">
                <button type="submit" class="btn waves-effect waves-light">Submit <i class="material-icons right">send</i></button>
                <p>@Html.ActionLink("Register as a new user", "Register")</p>
            </div>
        </section>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</article>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}