@using MediaGraph.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<article class="container">
    <h4 class="center-align">Login</h4>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <section class="row">
            <div class="col s12 offset-m2 m8 offset-l3 l6">
                <div class="input-field">
                    @Html.TextBoxFor(x => x.UserName)
                    @Html.LabelFor(x => x.UserName)
                </div>
                <div class="input-field">
                    @Html.PasswordFor(x => x.Password)
                    @Html.LabelFor(x => x.Password)
                </div>
                <div class="center">
                    <input type="checkbox" id="RememberMe" name="RememberMe" class="filled-in" />
                    <label for="RememberMe">Remember me?</label>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="center">
                <button type="submit" class="waves-effect waves-light btn">Submit <i class="material-icons right">send</i></button>
            </div>
        </section>
        <section class="row">
            <div class="center">
                @Html.ActionLink("Register as a new user", "Register")
            </div>
        </section>
        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
    }
</article>