@model MediaGraph.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<h3 class="center-align">Register</h3>
<h5 class="center-align">Create a new account</h5>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, htmlAttributes: new { id = "register-form", novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    <article class="row">
        <section class="col s12 offset-m2 m8 offset-l3 l6">
            <div class="input-field">
                @Html.TextBoxFor(m => m.Email, new { @class = "validate", type = "email" })
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="input-field">
                @Html.TextBoxFor(m => m.Username, new { @class = "validate" })
                @*<input type="text" id="Username" class="validate" name="Username" value="@Html.ValueFor(m => m.Username)" />*@
                @Html.LabelFor(m => m.Username, new Dictionary<string, object>
                {
                    { "data-error", Html.ValidationMessageFor(x => x.Username) }
                })
            </div>
            <div class="input-field">
                @Html.PasswordFor(m => m.Password, new { @class = "validate" })
                @Html.LabelFor(m => m.Password, new Dictionary<string, object>
                {
                    { "data-error", Html.ValidationMessageFor(x => x.Password)}
                })
            </div>
            <div class="input-field">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
        </section>
    </article>
    <article class="row">
        <section class="col s12 offset-m2 m8 offset-l3 l6">
            <div class="center-align">
                <button type="submit" class="waves-effect waves-light btn">Register</button>
            </div>
        </section>
    </article>
}
@section Scripts {
    @Scripts.Render("~/bundles/validation")
}
