@model MediaGraph.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<h3 class="center-align">@ViewBag.Title</h3>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, htmlAttributes: new { id = "update-password-form", autocomplete = "off", novalidate="novalidate" }))
{
    @Html.AntiForgeryToken()
    <article class="row">
        <section class="col s12 offset-m2 m8 offset-l3 l6">
            <div class="input-field">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "validate" })
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="input-field">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "validate" })
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="input-field">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "validate" })
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
        </section>
    </article>
    <article class="row">   
        <section class="col s12 offset-m2 m8 offset-l3 l6 center-align">
            <button type="submit" class="waves-effect waves-light btn green darken-2">Submit</button>
        </section>
    </article>
}
@section Scripts {
    @Scripts.Render("~/bundles/validation")
}